<header>
  <div class="container collapse-all">
    <div class="title"><a href="/">Chatlog</a></div>
    <nav>
      <ul>
        {% for page in collections.menu %}
         <li><a href="{{ page.url }}">{{ page.data.title }}</a></li>
        {% endfor %}     
      </ul>
    </nav>
  </div>
</header>
