<section class="oneColumn{% if component.backgroundColor %} bg-{{component.backgroundColor}}{% endif %}">
<h2>Test</h2>
  <div class="container">
    {% if component.content %}
      {{ component.content | markdown | safe }}
    {% endif %}
  </div>
</section>