<section class="oneColumn{% if component.backgroundColor %} bg-{{component.backgroundColor}}{% endif %}">
  <div class="container">
    {% if component.hideHeading %}
    {% else %}
    <h2>{{ component.heading }}</h2>
    {% endif %}
    {% if component.content %}
      {{ component.content | markdown | safe }}
    {% endif %}
  </div>
</section>