@import url('https://fonts.googleapis.com/css?family=Audiowide|Oswald:600|Alegreya+Sans:400,400i,700i,800');

// =========================
// Colors
// =========================

// Primary
$primary: #4d1979;

$secondary: #36454f;
$secondary-background: #a3a9ac;

$alert: #aa0000;

// =========================
// Typography
// =========================

$display: 'Audiowide', sans-serif;
$font: 'Alegreya Sans', sans-serif;
$headline: 'Oswald', sans-serif;

// =========================
// Layout
// =========================

$container-width: 75em;
$container-narrow: 60em;
$container-spacing: 4em;
$small: 37.5em;
$medium: 60em;
$large: 75em;
